.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{
  position: fixed;
top: 0;
width: 100%;
height: 100%;
background-size: cover;
background-image: url('./components/back.jpg');
}
.h1{
  color: #fff;
  position: absolute;
  top: 40%;
  left: 30%;
  margin: -25px 0 0 -25px;
}
.form-control.input-lg{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 22%;
  width: 65%;
  height: 7%;
  margin: -25px 0 0 -25px;
  border-radius: 15px;
}
div.c, .col-lg-5 {
  text-align: justify; /* For Edge */
}
.column {
  float: left;
  width: 20%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.column1 {
  float: left;
  width: 24%;
  padding: 5px;
}
.fa-star{
  color: #EFB701;
}
